// customizing existing variables 
$pink: #cf649a;
$danger: $pink;

// theme-colors
$theme-colors: (
    "danger": $danger
);

// Importing all Bootstrap source files
@import "../../node_modules/bootstrap/scss/bootstrap";
